streamlit
pandas
seaborn
matplotlib
python-dotenv
transformers
groq 
openai
scikit-learn
altair
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
textblob
